@import url("https://fonts.googleapis.com/css2?family=Ysabeau+Infant&display=swap");
* {
  background-color: #180629;
  font-family: "Ysabeau Infant", sans-serif;
}
/* Nav section starts */
.navbar ul li a {
  display: flex;
  justify-content: space-around;
}
li {
  padding: 0 20px;
  position: relative;
}
ul li a::after {
  content: "";
  height: 3px;
  width: 0%;
  background: #f0f0f0;
  position: absolute;
  left: 0;
  bottom: 20px;
  transition: 0.8s;
}
ul li a:hover::after {
  width: 100%;
  bottom: 1px;
}
.social {
  font-size: 30px;
  margin: 12px 17px;
}
.fa-brands {
  color: aliceblue;
  padding: 2px 18px;
}
.fa-brands:hover {
  opacity: 0.5;
}

/* Nav section Ends */
/* Home section starts */

.home img {
  margin: 80px 20px;
}
@media screen and (max-width: 700px) {
  .home img {
    width: 300px;
  }
  .home h2 {
    font-size: 20px;
  }
  .home h1{
    font-size: 80px;
  }
  .home p{
    text-align:justify;
    margin-right:auto;

  }
}
.home h2 {
  margin-top: 80px;
  color: #fab327;
  font-size: 30px;
  font-weight: 400 !important;
  letter-spacing: 2px;
}
.home h1 {
  color: #f0f0f0;
  font-size: 100px;
  margin: 6px 0;
  text-transform: capitalize;
}
.home p {
  color: #f0f0f0;
  opacity: 0.6;
  font-size: 20px;
  text-align: justify;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 200px;
  line-height: 35px;
}
.home .button button {
  margin: 20px 0;
  padding: 16px 40px;
  font-size: 20px;
  color: #f0f0f0;
  border: 0.10000000000000142px solid white;
  cursor: pointer;
  text-align: center;
  position: relative;
  background: transparent;
  width: 200px;
  z-index: 1;
}
.home .button button a {
  text-decoration: none;
  color: #f0f0f0;
  background: transparent;
}
.button span {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.9s;
}
.button button:hover span {
  width: 100%;
  background: #fab327;
  z-index: -1;
}
/* Home section Ends */
/* Skills section starts */
.skillset {
  color: #fab327;
  text-transform: uppercase;
  font-size: large;
  letter-spacing: 4px;
}
.skills h2 {
  font-size: 60px;
  font-weight: 700;
}
.skills h4 {
  text-align: right;
}
.skill-bar {
  padding: 80px 10px 0px 10px;
}

.progress {
  height: 5px;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  overflow: visible;
  position: relative;
  margin: 0 0 35px 0;
  border-radius: 3px;
}

.progress-bar {
  position: absolute;
  width: 0;
  top: 0;
  left: 0;
  height: 100%;
  background: #e1a34c;
  border-radius: 3px;
  transition: all 3s ease-in-out;
}

.progress-bar .percent-text {
  font-size: 62px;
  color: #fff;
  position: absolute;
  top: -110px;
  left: 0;
}
/* Skill section Ends*/
/* Service Section Starts  */
.service {
  color: #fab327;
  text-transform: uppercase;
  font-size: large;
  letter-spacing: 4px;
}
.service h2 {
  font-size: 60px;
  font-weight: 700;
}
.service h4 {
  color: #f0f0f0;
  font-weight: 600;
  font-size: 35px;
}
.service p {
  letter-spacing: 0;
}
.service .card {
  border: #180629;
  cursor: pointer;
  margin: 10px 28px;
}
.service .card:hover {
  border: 3px solid #371853;
  transition: 0.5s;
  transform: translatey(20px);
}
/* Service Section Ends  */
/* Portfolio Section Starts */
.portfolio {
  text-transform: uppercase;
  font-size: large;
  margin: 60px 0;
}
.portfolio h2 {
  font-size: 60px;
  font-weight: 700;
}
.portfolio .card-title {
  color: #f0f0f0;
  letter-spacing: 0;
  font-size: 35px;
  font-weight: 600;
}
.portfolio .card {
  border: #180629;
  cursor: pointer;
  margin: 20px 28px;
}
.portfolio .card:hover {
  border: 8px solid #2c1540;
  border-radius: 16px;
  transition: 0.5s;
  transform: translatey(20px);
}
/* Portfolio Section Ends */
/* Contact Section Starts  */
.contact {
  margin-bottom: 20px;
}
.contact h1 {
  font-size: 60px;
  text-transform: uppercase;
}
.contact-form .form-control {
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
input[type="email"],
input[type="password"],
input[type="text"],
input[type="tel"] {
  box-shadow: none;
  height: 45px;
  outline: none;
  font-size: 14px;
  &:focus {
    box-shadow: none;
    border: 0px;
    border-bottom: 1px solid #e1a34c;
  }
}

.form-control {
  box-shadow: none;
  border-radius: 0;
  &:focus {
    box-shadow: none;
    border-bottom: 1px solid #e1a34c;
  }
}
.form-control::placeholder {
  font-size: 20px;
}
.form input {
  color: #f0f0f0;
}

/* Contact Section Ends */
/* Footer Section Starts  */
/* Footer Section Ends */
